*.iws
*.war
.classpath
.DS_Store
.project
.settings
/*.launch
/*.tmproj
/out/**
stacktrace.log
test/reports
build/**
LabServices/build/**
.idea/**
/*/target/
*.class
lib/cachedir/*
LabServices/.gradle/**
HollyPortal/target/**
Data/build/**
